//! **************************************************************************
// Written by: Map P.20131013 on Wed Mar 25 19:14:01 2015
//! **************************************************************************

SCHEMATIC START;
COMP "Data<3>" LOCATE = SITE "G13" LEVEL 1;
COMP "sigin_p<0>" LOCATE = SITE "M2" LEVEL 1;
COMP "Data<4>" LOCATE = SITE "G14" LEVEL 1;
COMP "sigin_p<1>" LOCATE = SITE "L2" LEVEL 1;
COMP "Data<5>" LOCATE = SITE "F13" LEVEL 1;
COMP "sigin_p<2>" LOCATE = SITE "K2" LEVEL 1;
COMP "Data<6>" LOCATE = SITE "F14" LEVEL 1;
COMP "clk_ext" LOCATE = SITE "H14" LEVEL 1;
COMP "sigin_p<3>" LOCATE = SITE "J2" LEVEL 1;
COMP "Data<7>" LOCATE = SITE "H13" LEVEL 1;
COMP "sigin_p<4>" LOCATE = SITE "G2" LEVEL 1;
COMP "sigin_p<5>" LOCATE = SITE "H2" LEVEL 1;
COMP "sigin_p<6>" LOCATE = SITE "F2" LEVEL 1;
COMP "sigin_p<7>" LOCATE = SITE "E2" LEVEL 1;
COMP "reset_ext" LOCATE = SITE "P8" LEVEL 1;
COMP "RXF_L" LOCATE = SITE "L14" LEVEL 1;
COMP "led0_out" LOCATE = SITE "N3" LEVEL 1;
COMP "OE_L" LOCATE = SITE "J13" LEVEL 1;
COMP "TXE_L" LOCATE = SITE "L13" LEVEL 1;
COMP "sigout<0>" LOCATE = SITE "P5" LEVEL 1;
COMP "sigout<1>" LOCATE = SITE "N5" LEVEL 1;
COMP "sigout<2>" LOCATE = SITE "N6" LEVEL 1;
COMP "led1_out" LOCATE = SITE "P3" LEVEL 1;
COMP "sigout<3>" LOCATE = SITE "P7" LEVEL 1;
COMP "sigout<4>" LOCATE = SITE "P12" LEVEL 1;
COMP "sigin_n<0>" LOCATE = SITE "M1" LEVEL 1;
COMP "SIWU_L" LOCATE = SITE "J14" LEVEL 1;
COMP "sigout<5>" LOCATE = SITE "N12" LEVEL 1;
COMP "sigin_n<1>" LOCATE = SITE "L1" LEVEL 1;
COMP "WR_L" LOCATE = SITE "K13" LEVEL 1;
COMP "sigout<6>" LOCATE = SITE "D13" LEVEL 1;
COMP "sigin_n<2>" LOCATE = SITE "K1" LEVEL 1;
COMP "sigout<7>" LOCATE = SITE "C13" LEVEL 1;
COMP "sigin_n<3>" LOCATE = SITE "J1" LEVEL 1;
COMP "sigin_n<4>" LOCATE = SITE "G1" LEVEL 1;
COMP "RD_L" LOCATE = SITE "K14" LEVEL 1;
COMP "Data<0>" LOCATE = SITE "D14" LEVEL 1;
COMP "sigin_n<5>" LOCATE = SITE "H1" LEVEL 1;
COMP "Data<1>" LOCATE = SITE "E13" LEVEL 1;
COMP "sigin_n<6>" LOCATE = SITE "F1" LEVEL 1;
COMP "Data<2>" LOCATE = SITE "E14" LEVEL 1;
COMP "sigin_n<7>" LOCATE = SITE "E1" LEVEL 1;
TIMEGRP my_dcm_clkfx = BEL "sigout_0" BEL "sigout_1" BEL "sigout_2" BEL
        "sigout_3" BEL "sigout_4" BEL "sigout_5" BEL "sigout_6" BEL "sigout_7"
        BEL "my_dcm/clkout2_buf";
PIN SP6_INS_BUFIO2FB_DCM_ML_BUFIO2FB_1_pins<1> = BEL
        "SP6_INS_BUFIO2FB_DCM_ML_BUFIO2FB_1" PINNAME O;
PIN my_dcm/dcm_sp_inst_pins<1> = BEL "my_dcm/dcm_sp_inst" PINNAME CLKFB;
TIMEGRP my_dcm_clk0 = BEL "D_int_0" BEL "D_int_1" BEL "D_int_2" BEL "D_int_3"
        BEL "D_int_4" BEL "D_int_5" BEL "D_int_6" BEL "D_int_7" BEL
        "state_FSM_FFd8" BEL "state_FSM_FFd4" BEL "led_counter_0" BEL
        "led_counter_1" BEL "led_counter_2" BEL "led_counter_3" BEL
        "led_counter_4" BEL "led_counter_5" BEL "led_counter_6" BEL
        "led_counter_7" BEL "led_counter_8" BEL "led_counter_9" BEL
        "led_counter_10" BEL "led_counter_11" BEL "led_counter_12" BEL
        "led_counter_13" BEL "led_counter_14" BEL "led_counter_15" BEL
        "led_counter_16" BEL "led_counter_17" BEL "led_counter_18" BEL
        "led_counter_19" BEL "led_counter_20" BEL "led_counter_21" BEL
        "led_counter_22" BEL "led_counter_23" BEL "led_counter_24" BEL
        "led_counter_25" BEL "state_FSM_FFd6" BEL "state_FSM_FFd2" BEL
        "state_FSM_FFd5" BEL "state_FSM_FFd1" BEL "state_FSM_FFd7" BEL
        "state_FSM_FFd3" BEL "my_dcm/clkout1_buf" PIN
        "SP6_INS_BUFIO2FB_DCM_ML_BUFIO2FB_1_pins<1>" PIN
        "my_dcm/dcm_sp_inst_pins<1>";
PIN SP6_BUFIO_INSERT_ML_BUFIO2_0_pins<0> = BEL "SP6_BUFIO_INSERT_ML_BUFIO2_0"
        PINNAME DIVCLK;
PIN my_dcm/dcm_sp_inst_pins<3> = BEL "my_dcm/dcm_sp_inst" PINNAME CLKIN;
TIMEGRP clk_ext_pin = PIN "SP6_BUFIO_INSERT_ML_BUFIO2_0_pins<0>" PIN
        "my_dcm/dcm_sp_inst_pins<3>";
TS_clk_ext_pin = PERIOD TIMEGRP "clk_ext_pin" 16.666 ns HIGH 50%;
TS_my_dcm_clkfx = PERIOD TIMEGRP "my_dcm_clkfx" TS_clk_ext_pin / 4 HIGH 50%;
TS_my_dcm_clk0 = PERIOD TIMEGRP "my_dcm_clk0" TS_clk_ext_pin HIGH 50%;
COMP "Data<7>" OFFSET = IN 9 ns VALID 9.5 ns BEFORE COMP "clk_ext";
COMP "Data<7>" OFFSET = OUT 8.666 ns AFTER COMP "clk_ext";
COMP "Data<6>" OFFSET = IN 9 ns VALID 9.5 ns BEFORE COMP "clk_ext";
COMP "Data<6>" OFFSET = OUT 8.666 ns AFTER COMP "clk_ext";
COMP "Data<5>" OFFSET = IN 9 ns VALID 9.5 ns BEFORE COMP "clk_ext";
COMP "Data<5>" OFFSET = OUT 8.666 ns AFTER COMP "clk_ext";
COMP "Data<4>" OFFSET = IN 9 ns VALID 9.5 ns BEFORE COMP "clk_ext";
COMP "Data<4>" OFFSET = OUT 8.666 ns AFTER COMP "clk_ext";
COMP "Data<3>" OFFSET = IN 9 ns VALID 9.5 ns BEFORE COMP "clk_ext";
COMP "Data<3>" OFFSET = OUT 8.666 ns AFTER COMP "clk_ext";
COMP "Data<2>" OFFSET = IN 9 ns VALID 9.5 ns BEFORE COMP "clk_ext";
COMP "Data<2>" OFFSET = OUT 8.666 ns AFTER COMP "clk_ext";
COMP "Data<1>" OFFSET = IN 9 ns VALID 9.5 ns BEFORE COMP "clk_ext";
COMP "Data<1>" OFFSET = OUT 8.666 ns AFTER COMP "clk_ext";
COMP "Data<0>" OFFSET = IN 9 ns VALID 9.5 ns BEFORE COMP "clk_ext";
COMP "Data<0>" OFFSET = OUT 8.666 ns AFTER COMP "clk_ext";
COMP "TXE_L" OFFSET = IN 9 ns VALID 9.5 ns BEFORE COMP "clk_ext";
COMP "RXF_L" OFFSET = IN 9 ns VALID 9.5 ns BEFORE COMP "clk_ext";
COMP "OE_L" OFFSET = OUT 8.666 ns AFTER COMP "clk_ext";
COMP "WR_L" OFFSET = OUT 8.666 ns AFTER COMP "clk_ext";
COMP "RD_L" OFFSET = OUT 8.666 ns AFTER COMP "clk_ext";
COMP "SIWU_L" OFFSET = OUT 8.666 ns AFTER COMP "clk_ext";
SCHEMATIC END;

